.popover {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: top 75ms ease-out, left 75ms ease-out;
}

.popover.showing {
  animation: pop-upwards 0.5s linear forwards;
}

.popover-content {
  background: linear-gradient(to bottom,rgba(49, 49, 47, 0.99),#262625);
  border-radius: 5px;
  padding: 0 10px;
}

.popover-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #262625;
}

@keyframes pop-upwards {
  0% {
    transform: matrix(0.97,0,0,1,0,12);
    opacity: 0;
  }
  20% {
    transform: matrix(0.99,0,0,1,0,2);
    opacity: 0.7;
  }
  40% {
    transform: matrix(1,0,0,1,0,-1);
    opacity: 1;
  }
  70% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
  }
  100% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
  }
}

.inlineToolSet {
  display: flex;
  align-items: center;
}

.inline-btn {
  height: 44px;
  padding: 0;
  margin: 0 8px;
  border: 0;
  background: rgba(0,0,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.inline-btn.disabled {
  cursor: default;
}

.inline-svg {
  width: 21px;
  height: 21px;
}

.block-svg {
  width: 25px;
  height: 25px;
}

.inline-svg.unactivated {
  fill: #fff
}

.inline-svg.activated {
  fill: #34e79a
}

.inline-svg.disabled {
  fill: rgba(90, 90, 90, 0.8)
}

.linkinput {
  display: flex;
}

.linkinput-field {
  display: inline-block;
  background-color: transparent;
  width: 204px;
  height: 44px;
  padding: 13px 40px 11px 10px;
  margin: 0;
  box-sizing: border-box;
  cursor: text;
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.linkinput-button {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkinput-svg-cancel {
  fill: #fff;
  width: 19px;
  height: 19px;
} 