.editor-wrapper {
  position: relative;
  border: 1px solid #ccc;
  cursor: text;
  box-sizing: content-box;
  max-width: 700px;
  min-height: 80px;
  padding: 0 50px;
  margin: 100px auto;
  color: rgba(0, 0, 0, 0.68);
  font-size: 21px;
  line-height: 1.58;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.DraftEditor-root, .DraftEditor-editorContainer {
  position: static;
}

.myUnstyled {
  margin-top: 30px;
}

.myCodeBlock {
  font: 14px, Menlo, Monaco, "Courier New", Courier, monospace;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 0;
  white-space: pre-wrap;
}

.myH3Block {
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.25;
  font-size: 34px;
  margin-top: 56px;
}

.myH3Block span {
  font-weight: 600!important;
  font-style: normal!important;
}

.myH4Block {
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.22;
  font-size: 26px;
  margin-top: 30px;
}

.myH4Block span {
  font-weight: 600!important;
  font-style: normal!important;
}


.myBlockQuote {
  color: rgba(0, 0, 0, 0.68);
  font-style: italic;
  line-height: 1.48;
  font-weight: 400;
  font-size: 30px;
  padding-left: 50px;
  margin-top: 55px;
}

.myImageBlock {
  margin-top: 40px;
}

.myImageBlock.outsetleft {
  display: inline-block;
  clear: both;
  position: relative;
}

.myImageBlock.outsetleft::after {
  content: "";
  clear: both;
  display: table;
}

.myCaptionBlock {
  color: rgba(0,0,0,.68);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
}